.article{
    width: 100%;
    background-color: bisque;
    border: 1px solid burlywood;
    padding: 10px;
    margin: 10px;
}

.article h1{
    font-size: 24px;
}
.article p{
    font-size: 18px;
}

.rate-wrapper input[type=number]{
    background-color: darkorange;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline;
    font-size: 20px;
    margin: 5px 5px;
}

.rate-wrapper button{
    background-color: forestgreen;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline;
    font-size: 10px;
    margin: 5px 5px;

}

